body {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.messages {
  font-family: arial, sans-serif;
  font-size: 12pt;
  background-color: red;

  display: flex;
  flex-direction: column;
}

.messages .message{
  background-color: blue;
  border-radius: 25px;
  
  padding: 15px;

  height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: row;

  margin-left: 10px;
  margin-right: auto;

  margin-top: 10px;
}

.messages .me{
  background-color: grey;
  border-radius: 25px;

  padding: 15px;

  height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: row-reverse;
  
  margin-left: auto;
  margin-right: 10px;
  
  margin-top: 10px;
}

input{
  width: 50%;
  margin-left: 25%;
  position: relative;
  top: 10px;
}

button{
  position: relative;
  top: 10px;
}